extends layout

include mixins/_productCard
include mixins/_pagination
include mixins/_orderForm

block content
    h2= title
    .inner
        each product in products
            .products
                +productCard(product)
                +orderForm(product)
block footer
    +pagination(page, pages, count, pugFile)